
<h5 class="lh-1-5">THESE TERMS AND CONDITIONS OF SERVICE ARE A LEGAL AND BINDING AGREEMENT BETWEEN 
  YOU AND MostLikedPerson governing your use of this Service.
</h5>
<p class="mb-3">Please review the Terms fully before you continue to use the Service. 
  By using the Service, you agree to be bound by the Terms. You will also be subject to any additional terms posted with respect to 
  individual sections of the Service. If you do not agree, please discontinue using the Service. MostLikedPerson reserves the right 
  to change the Terms at any time without prior notice. Your continued access or use of the Service after such changes indicates your 
  acceptance of the Terms as modified. It is your responsibility to review the Terms regularly.
</p>
<p>Your use and browsing of the Service is at your risk. If you are dissatisfied with any of 
  the materials contained in the Service, with the quality of service, or with these Terms, your sole and exclusive remedy is to discontinue 
  accessing and using the Service.
</p>

