.challenges-item {
    margin-bottom: 30px;
}

.challenges-item .item-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.challenges-item .item-content {
    height: 240px;
    background-color: #d8d8d8;
    line-height: 0;
    border-radius: 2px;
    color: #fff;
}

.challenges-item .item-content .item-img {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: unset;
    width: auto;
}

.challenges-item .item-content .item-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.challenges-item .item-content .item-overlay .item-button {
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,.75);
}

.btn.btn-sm {
    padding: 12px 30px;
}

.btn.btn-transparent {
    color: #e12ebc;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 15px 35px;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 500px;
    z-index: 0;
    overflow: hidden;
}
.btn, .btn::after, .btn::before, .txt-btn {
    transition: .4s ease-out;
}

button {
    cursor: pointer;
    font-size: inherit;
    line-height: 1;
    color: inherit;
    background-color: transparent;
    border: none;
}

.btn::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 500px;
    z-index: -1;
    opacity: 1;
}
.btn, .btn::after, .btn::before, .txt-btn {
    transition: .4s ease-out;
}

.btn::after {
    content: '';
    position: absolute;
    width: calc(100% - 24px);
    height: 48%;
    top: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: linear-gradient(to top,rgba(255,255,255,.05) 0,rgba(255,255,255,.7) 100%);
    border-radius: 500px;
    opacity: 0;
}
.btn, .btn::after, .btn::before, .txt-btn {
    transition: .4s ease-out;
}

.btn.btn-transparent::before {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 2px solid #e12ebc;
    box-shadow: inset 0 0 0 0 rgba(33,33,33,.2);
}

.challenges-item .item-content .item-overlay .item-info {
    width: 100%;
    padding: 12px 0;
    margin-top: auto;
    background-color: rgba(0,0,0,.75);
    line-height: 1;
}

.challenges-item .item-content .item-overlay .item-info > * {
    width: 33.33333%;
    padding: 0 4px;
}

.challenges-item .item-content .item-overlay .item-info .count {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 5px;
}

.challenges-item .item-content .item-overlay .item-info .desc {
    font-size: 12px;
}


.challenges-item .item-content .item-overlay .item-info > .borders {
    border-right: 1px solid #7303c0;
    border-left: 1px solid #7303c0;
}

.challenges-item:hover .item-content .item-overlay .item-button {
    opacity: 1;
}

.item-info .fa-icon {
    font-size: 18px;
    margin-bottom: 8px;
}