<div class="tabs-content bg-light-primary">
  <div  id="profile-followers">
    <div  class="container">
      <div  class="row">
        <div class="col-12">
          <span *ngIf="!users?.length" class="decorative-title text-center">It's so empty here…</span>
        </div>
        <div  class="col-14 col-md-6 col-lg-4" *ngFor="let user of users">
          <div  class="follower-item d-flex flex-column align-items-center">
            <div  class="follower-item-bg">
              <div  class="bg-folder" [ngStyle]="{'opacity': '1',
              'transition': 'opacity 0.5s ease-in 0s',
              'background-image': 'url(' + user?.cover + ')'}"></div>
            </div>
            <a  class="follower-item-link d-flex flex-column align-items-center" routerLink="/users/{{ user?._id }}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <div  class="user-avatar small">
                <img  alt="" [src]="user?.avatar">
              </div>
              <span  class="follower-name"> {{ user?.full_name }}</span>
            </a>
            <span  class="follower-city text-color-gray">{{ user?.city }}</span>
            <button  class="btn btn-bg-gray align-self-center btn-border-gradient ">
              <span >follow</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
