<h1>Conditions</h1>
<ul>
  <li  class="d-flex align-items-center">
    <p >We are allowed to modify or terminate the Service or your access to the Service for any reason, without notice, at any time, and without 
      liability to you. You can delete your account through your Profile settings. If we terminate your access to the Service or you delete your 
      account, your photos, comments, likes, and all other data will no longer be accessible through your account, but some materials and data may 
      persist and appear within the Service (e.g., if your Content has been reshared by others).
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >Upon termination of your account, all licenses and other rights granted to you in these Terms of Use will immediately cease.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >We can change these Terms of Use at any time.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >We reserve the right to refuse access to the Service to anyone for any reason at any time.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >We reserve the right to force change of any username for any reason.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >We may remove, edit, block, and/or monitor Content or accounts that we determine.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You are solely responsible for your interaction with other users of the Service, whether online or offline. MostLikedPerson keeps the right, 
      but has no obligation, to monitor or become involved in disputes between you and other users.
    </p>
  </li>
</ul>
