<h1>Terms</h1>
<ul>
  <li  class="d-flex align-items-center">
    <p >You have to be at least 13 years old to use the Service.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You should post only your own selfies or portraits, all other irrelevant pictures will be removed.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >Your pictures should not be violent, nude or partially nude, discriminatory, unlawful and hateful.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You agree that you will not transfer or sell your account to any other person. You are responsible for all of your account activities. 
      All information you provided must be true and accurate and you should keep your information up to date.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not insult, bully, abuse, harass, threaten, impersonate or intimidate people and you must not post private or confidential 
      information via the Service.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not use the Service for any illegal or unauthorized purpose. You agree to comply with all laws and regulations applicable to your 
      use of the Service including copyright laws.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You are solely responsible for your photos that you submit via the Service.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not change the Service or modify another website so as to falsely imply that it is associated with MostLikedPerson.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not submit any commercial in any form to any MostLikedPerson users.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not disrupt the Service or servers or networks connected to the Service.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You must not create multiple accounts by any method.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >Violation of these Terms of Use may result in termination of your MostLikedPerson account. You understand and agree that MostLikedPerson 
      cannot and will not be responsible for the Content posted on the Service and you use the Service at your own risk. If you violate these Terms 
      of Use we can stop providing all or part of the Service to you.
    </p>
  </li>
</ul>
