<div  class="comment-item d-flex pos-relative bg-light-secondary mb-4">
  <a  class="comment-img flex-shrink-0 pos-absolute overflow-hidden" [href]="'users/' + comment.owner._id">
    <img  alt="" [src]="comment.owner.avatar">
  </a>
  <div  class="comment-data w-100 ">
    <p  class="comment-text">
      <a  class="comment-author" [href]="'users/' + comment.owner._id">{{ comment.owner.full_name }}</a> {{ comment.text }} </p>
      <div  class="comment-info d-flex justify-content-between align-items-center text-color-gray">
        <span class="comment-date"> {{ comment.time_update | date : 'short' : 'UTC' | dateAgo}}</span>
        <div  class="comment-control cur-default transition d-flex ">
          <i *ngIf="comment.owner._id == authUserId" class="btn-edit fa-icon fas fa-pen cur-pointer "></i>
          <i  class="btn-reply fa-icon fas fa-reply cur-pointer ml-auto"></i>
          <i *ngIf="comment.owner._id == authUserId" (click)="deleteComment(comment._id, comment.image)" class="btn-delete fa-icon fas fa-trash cur-pointer ml-auto "></i>
        </div>
    </div>
  </div>
</div>
<ng-container *ngFor="let subComment of comment.sub_comments">
  <div  class="comment-item d-flex pos-relative bg-light-secondary mb-4 reply">
    <a  class="comment-img flex-shrink-0 pos-absolute overflow-hidden" [href]="'users/' + subComment.owner._id">
      <img  alt="" [src]="subComment.owner.avatar">
    </a>
    <div class="comment-data w-100 ">
      <p class="comment-text">
        <a class="comment-author" [href]="'users/' + subComment.owner._id">{{ subComment.owner.full_name }}</a> {{ subComment.text }} </p>
        <div class="comment-info d-flex justify-content-between align-items-center text-color-gray">
          <span class="comment-date"> {{ subComment.time_update | date : 'short' : 'UTC' | dateAgo}}</span>
          <div class="comment-control cur-default transition d-flex ">
            <i *ngIf="subComment.owner._id == authUserId" class="btn-edit fa-icon fas fa-pen cur-pointer "></i>
            <i class="btn-reply fa-icon fas fa-reply cur-pointer ml-auto"></i>
            <i *ngIf="subComment.owner._id == authUserId" class="btn-delete fa-icon fas fa-trash cur-pointer ml-auto "></i>
          </div>
      </div>
    </div>
  </div>
</ng-container>

