/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

body {
  margin: 0;
  font: 16px 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  -webkit-tap-highlight-color: rgba(115,3,192,.3);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body a {
  color: #007ad9;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

body a:hover {
  color: unset;
  text-decoration: none;
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

input, input:focus, textarea, textarea:focus {
  border: none;
}

:focus, button, button:focus, input, input:focus, textarea, textarea:focus {
  outline: 0;
}

*, 
::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: block;
}

blockquote, p {
  margin: 0;
  line-height: 1.5!important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.text-pink {
  color: #e12ebc;
}

.h-100vh {
  height: 100vh;
}

.bg-pink {
  background-color: #e12ebc;
}

.active {
  color: #e12ebc;
}

.h-300 {
  height: 300px;
}

.text-color-light {
  color: #e6e6e6;
}

.text-color-gray {
  color: #585858;
}

.bg-light-secondary {
  background-color: #fff;
}

.bg-light-primary {
  background-color: #f2f2f2;
}

.cur-pointer {
  cursor: pointer;
}

.transition {
  transition: .2s ease-out;
}

.text-color-white {
  color: #fff;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.text-color-dark {
  color: #212121;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  cursor: pointer;
  font-size: inherit;
  line-height: 1;
  color: inherit;
  background-color: transparent;
  border: none;
}

img {
  min-width: 100%;
}

ul {
  list-style: none;
}

textarea.form-control {
  padding-top: 11px;
  min-height: 37px;
}
.form-control {
  width: 100%;
  height: 37px;
  border: 1px solid #dee7eb;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #585858;
  padding-left: 15px;
  padding-right: 15px;
  transition: .2s ease-out;
}

.form-control:focus {
  border: 1px solid #7303c0;
}


.btn.small-btn {
  padding: 10px 20px;
  font-size: 13px;
}
.btn.btn-border-gradient {
  color: #fff;
  background: linear-gradient(to right,#7303c0 0,#ec38bc 76%,#fa66cb 100%);
}

.btn.btn-border-gradient.disabled, 
.btn.btn-border-gradient:disabled {
  color: #969696;
  background: linear-gradient(to right,#969696 0,#969696 100%);
}

.disabled .spinner-wrapper {
  background-color: rgba(0,0,0,.08);
}

.btn.btn-border-gradient.disabled.btn-bg-gray::before, 
.btn.btn-border-gradient.disabled.btn-bg-light::before, 
.btn.btn-border-gradient:disabled.btn-bg-gray::before, 
.btn.btn-border-gradient:disabled.btn-bg-light::before {
  background-color: #ececec;
}

.btn.btn-border-gradient.btn-bg-light::before {
  background-color: #fff;
}

.btn::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 500px;
  z-index: -1;
  opacity: 1;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px 35px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 500px;
  z-index: 0;
  overflow: hidden;
}

#main .challenge-info .tabs-content #challenge-info-description .voting-data .voting-award::before,
#main .challenge-info .tabs-content #challenge-info-description .voting-data .voting-time::before, 
#main .challenge-info .tabs-content #challenge-info-description .voting-data .voting-votes::before, 
.btn.btn-border-gradient.btn-bg-gray>*, 
.btn.btn-border-gradient.btn-bg-light>*, 
.gradient-text, 
.txt-btn>* {
  background: linear-gradient(to right,#7303c0 0,#ec38bc 76%,#fa66cb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div {
  display: block;
}