<div class="comment-item d-flex pos-relative bg-light-secondary mb-5" [ngClass]="{ reply: commentId}">
  <a class="comment-img flex-shrink-0 pos-absolute overflow-hidden" [href]="'users/' + comment.owner._id">
    <img  alt="" [src]="comment.owner.avatar">
  </a>
  <div class="comment-data w-100 d-flex flex-column">
    <ng-container *ngIf="!changeMode">
      <p class="comment-text">
        <a class="comment-author" [href]="'users/' + comment.owner._id">{{ comment.owner.full_name }}</a> {{ comment.text }} 
      </p>    
      <div class="comment-info d-flex justify-content-between align-items-center text-color-gray">
        <span class="comment-date"> {{ comment.time_update | date : 'short' : 'UTC' | dateAgo}}</span>
        <div class="comment-control transition d-flex ">
          <i *ngIf="comment.owner._id == authUserId" (click)="changeMode ='edit'" class="btn-edit fa-icon fas fa-pen cur-pointer "></i>
          <i *ngIf="!commentId" (click)="changeMode = 'add'" class="btn-reply fa-icon fas fa-reply cur-pointer ml-auto"></i>
          <i *ngIf="comment.owner._id == authUserId" 
          (click)="commentId ? deleteSubComment(commentId, comment._id) : deleteComment(comment._id, comment.image)" 
          class="btn-delete fa-icon fas fa-trash cur-pointer ml-auto "></i>
        </div>
      </div>
    </ng-container>
    <app-form-subcomment *ngIf="changeMode == 'add'" [commentId]="commentId" (commentChanged)="commentChanged.emit()" (changeCanceled)="changeMode=null"></app-form-subcomment>
    <app-form-comment *ngIf="changeMode == 'edit'" [isEdit]="true" [comment]="comment"  [imageId]="imageId" (commentChanged)="commentChanged.emit()" (changeCanceled)="changeMode=null"></app-form-comment>
  </div>
</div>