.modal.modal-view-photo .view-photo-wrap .right-side .comments-tree {
    padding-top: 20px;
}

.comment-item .comment-img img {
    width: 100%;
    max-height: 100%;
}

.comment-item {
    margin-left: 64px;
    z-index: 1;
}

.comment-item .comment-img {
    width: 50px;
    height: 50px;
    top: 0;
    right: calc(100% + 14px);
    border-radius: 50%;
}

.comment-item .comment-data {
    padding-top: 8px;
}

.comment-item .comment-data .comment-text {
    font-size: 14px;
    line-height: normal;
}

.comment-text {
    word-break: break-all;
}

.comment-item .comment-data .comment-text .comment-author {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body a:active, body a:hover {
    color: unset;
    text-decoration: none;
}

.comment-item .comment-data .comment-info {
    margin-top: 12px;
    font-size: 12px;
}

.text-color-gray {
    color: #585858;
}

.comment-date {
    width: 65%;
}

.comment-item:hover .comment-data .comment-info .comment-control {
    opacity: 1;
}

.comment-item .comment-data .comment-info .comment-control {
    opacity: 0;
}

.comment-control{
    width: 35%;
}

.cur-default {
    cursor: default;
}

.cur-pointer {
    cursor: pointer;
}

.comment-item .comment-data .comment-info .comment-control .fa-icon {
    padding: 3px;
}

.comment-item.reply {
    margin-left: 115px;
    z-index: 0;
}

.btn-delete:hover {
    color: #e12ebc;
}