<h1>Rights</h1>
<ul>
  <li  class="d-flex align-items-center">
    <p >You grant to MostLikedPerson a non-exclusive, fully paid and royalty-free, transferable, sub-licensable, worldwide license to use the Content 
      that you post on or through the Service, subject to the Service's Privacy Policy. MostLikedPerson does not claim ownership of any Content that you 
      post on or through the Service.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >MostLikedPerson Content is protected by copyright and owns all rights in the Content and the Service. You will not change, remove, reproduce, 
      adapt, publish, distribute Content.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >The MostLikedPerson name and logo are trademarks of MostLikedPerson, and may not be copied, simulated or used, in whole or in part.</p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You should maintain your own backup of your Content and you should not rely on the Service for the purposes of Content backup or storage. 
      The MostLikedPerson's intention for the Service is to be available as much as possible, but there will be occasions when the Service may be 
      interrupted due to maintenance or upgrades. MostLikedPerson keeps the right to change or remove any Content for any reason, without prior 
      notice. Content removed from the Service may continue to be stored by MostLikedPerson without limitation. MostLikedPerson is not liable to 
      you for any modification, suspension, or discontinuation of the Services, or the loss of any Content. You also confirm that the Internet may 
      be subject to breaches of security.
    </p>
  </li>
  <li  class="d-flex align-items-center">
    <p >You bear legal responsibility for your photos. You agree that MostLikedPerson is not responsible for Content posted within the Service and 
      does not have any obligation to monitor or remove any Content.
    </p>
  </li>
</ul>